:root {
  --main-color: #2196f3;
  --main-bacgraund-color: #2f303a;
  --secondary-bacgraund-color: #f5f4fa;
  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Releway', sans-serif;
  --main-icon-color: #757575;
  /*dostępne grubosci Releway 700 */
  /*dostępne grubosci Roboto 400, 500, 700, 900 */
}
body {
  font-family: var(--main-font);
  color: #000;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
p {
  padding: 0;
}
ul {
  margin: 0;
  padding: 0;
}
.tittle {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}
