.container {
  width: 1600px;
  margin: 0 auto;
}
.page-header {
  display: flex;
  align-items: center;
  min-height: 80px;
}
.container--header {
  display: flex;
  align-items: center;
  min-height: 80px;
} 